$font-family-base: 'Roboto', sans-serif;
$master-text-color: #fff;
$text-color: $master-text-color;
$link-color: $master-text-color;
$headings-color: $master-text-color;
$x-color: #3299BB;
$o-color: #FF9900;
$body-bg: #424242;

@import "bootstrap";
@import "font-awesome";

html, body, .container, .full-height-component, .row {
  height: 100%;
}

.chart-label-row {
  height: auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-weight: 300;
  margin-bottom: 10px;
}

body, .square {
  background: $body-bg;
}

.square {
  font-family: 'Quicksand', sans-serif;
  border: 1px solid #999;
  border-right: none;
  border-bottom: none;
  float: left;
  font-size: 55px;
  font-weight: 500;
  line-height: 75px;
  height: 75px;
  padding: 0;
  text-align: center;
  width: 75px;
  transition: color 0.5s ease;
  color: $body-bg;
}

.no-top-border {
  border-top: none;
}

.no-left-border {
  border-left: none;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}




.x-label, .x-box {
  color: $x-color;
}

.o-label, .o-box {
  color: $o-color;
}

.game-wrapper {
  padding-top: 5px;
}

.stats-label {
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  font-weight: 300;
}

.chart-wrapper {
  margin-bottom: 1rem;
}

.x-label, .o-label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.chart-label-num {
  font-weight: 400;
}

.highlight-text {
  color: #fff;
}

.restart-button {
  color: $master-text-color;
}
