@import "bootstrap";

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 55px;
  font-weight: bold;
  line-height: 75px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}




.x-label {
  color: #1f77b4;
}

.o-label {
  color: #ff7f0e;
}

.game-wrapper {
  padding-top: 200px;
}
